<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.factoryfree.test.notesfam" >
    <!-- PERSMISSION -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   <!-- <uses-permission android:name="android.permission.CAMERA"
   If you are using the camera via an intent, your application does not need to request this permission/>-->

    <!-- FEATURES FOR BLOCK INSTALL PLAY STORE-->
    <!--<uses-feature android:name="android.hardware.camera" />-->
    <!--  -->
    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >  <!--Apply a theme to  application-->
        <!-- SDK PARSE -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <!-- SPLASH SCREEN ACTIVITY -->
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <!--The <action> element specifies that this is the "main" entry point to the application-->
                <action android:name="android.intent.action.MAIN" />
                <!--The <category> element specifies that this activity should be listed in the system's application launcher
                (to allow users to launch this activity).-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--FACEBOOK ACTIVITY WTF-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
             />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <meta-data android:name="com.facebook.sdk.ApplicationName" android:value="@string/facebook_app_name" />

        <!--LOGIN ACTIVITY WTF-->
        <activity
            android:name=".activities.LoginActivity">

        </activity>
        <!--HOME ACTIVITY WTF-->
        <activity android:name=".activities.HomeActivity">
        </activity>



    </application>

</manifest>
